<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">
    <title>Template</title>
</head>
<body>
    <header>
        <div class="flex-container">
            <h1>
                <a href="#">BrandName</a>
              </h1>
              <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Product</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <div class="buttons">
                   <button>Login</button>
                   <button>Join Us</button>
                </div>
              </nav>
        </div>
      
    </header>
</body>
</html>