a {
  color: white;
  text-decoration: none;
}

.flex-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: #252B42;
}

header {
  position: fixed;
  z-index: 1000;
  background-color: #252B42;
  height: 120px;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
}
header nav ul li {
  margin-left: 25px;
  font-weight: 600;
}
header nav ul li a:hover {
  color: #23a6f0;
}
header nav .sign_in_up {
  margin-left: 70px;
  padding: 0px 10px;
}
header nav .sign_in_up a:hover {
  color: #23a6f0;
}
header nav .sign_in_up button {
  padding: 15px 25px 15px 25px;
  background-color: #23a6f0;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
header nav .sign_in_up button:hover {
  color: #23a6f0;
  background-color: white;
}
header nav .hamburger {
  display: none;
}
header nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
header nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-item {
  margin-left: 5rem;
}
header nav .nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}
header nav .nav-link:hover {
  color: #482ff7;
}
header nav .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media screen and (max-width: 895px) {
  header nav {
    justify-content: space-evenly;
  }
  header nav h1 {
    font-size: 20px;
  }
  header nav ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #252B42;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  header nav ul.active {
    left: 0;
  }
  header nav ul li {
    margin: 2.5rem 0;
  }
  header nav .hamburger {
    display: block;
    cursor: pointer;
  }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  header nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header nav .sign_in_up {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  header nav .sign_in_up button {
    padding: 8px 15px 8px 15px;
  }
}
#welcome {
  padding-top: 50px;
}
#welcome .flex-container {
  color: rgb(255, 255, 255);
}
#welcome .flex-container span {
  font-size: 16px;
  color: #23a6f0;
  font-weight: 800;
}
#welcome .flex-container h1 {
  font-size: 58px;
  margin-top: 7px;
  width: 542px;
}
#welcome .flex-container p {
  font-size: 20px;
  vertical-align: top;
  line-height: 20px;
  margin: 0;
  margin-top: 20px;
}
#welcome .flex-container button {
  padding: 15px 40px 15px 40px;
  margin-top: 40px;
  cursor: pointer;
}
#welcome .flex-container .getbtn {
  background-color: #23a6f0;
  color: rgb(255, 255, 255);
  gap: 10px;
  border: 0;
}
#welcome .flex-container .getbtn:hover {
  background-color: transparent;
  border: 1px solid #23a6f0;
  color: #23a6f0;
}
#welcome .flex-container .learnbtn {
  border: 1px solid #23a6f0;
  background: transparent;
  color: #23a6f0;
}
#welcome .flex-container .galaxy {
  margin-top: 50px;
}
#welcome .flex-container .galaxy .firstorbit {
  border: 2px solid #ffc7d4;
  border-radius: 50%;
  width: 630px;
  height: 630px;
  position: relative;
}
#welcome .flex-container .galaxy .firstorbit .person-first {
  position: absolute;
  left: 450px;
  top: 20px;
  width: 82px;
  height: 82px;
}
#welcome .flex-container .galaxy .firstorbit .pink-planet {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 91px;
  top: 58px;
}
#welcome .flex-container .galaxy .firstorbit .person-second {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 143px;
  top: 556px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit {
  border: 2px solid #ffc7d4;
  border-radius: 50%;
  width: 483px;
  height: 483px;
  position: absolute;
  top: 74px;
  left: 74px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .person-third {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 19px;
  top: 315px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .person-fourth {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 464px;
  top: 354px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit {
  border: 2px solid #ffc7d4;
  border-radius: 50%;
  width: 311px;
  height: 311px;
  position: absolute;
  top: 87px;
  left: 87px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .person-fifth {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 61px;
  top: -42px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .pink_first {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 278px;
  top: 62px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .pink_second {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 9.7px;
  top: 226px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .lastorbit {
  border: 2px solid #ffc7d4;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 62.6px;
  left: 62.6px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .lastorbit .pink {
  position: absolute;
  left: 150px;
  top: 135px;
}
#welcome .flex-container .galaxy .firstorbit .secondorbit .thirdorbit .lastorbit .person-sixth {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 27px;
  top: 31px;
}
#welcome .flex-container .galaxy-img {
  display: none;
}

@media screen and (max-width: 1360px) {
  #welcome .flex-container .galaxy {
    display: none;
  }
  #welcome .flex-container .galaxy-img {
    display: block;
    width: 430px;
    height: 430px;
  }
  #welcome .flex-container span {
    font-size: 12px;
    color: #23a6f0;
  }
  #welcome .flex-container h1 {
    font-size: 48px;
    margin-top: 7px;
    width: 442px;
  }
  #welcome .flex-container p {
    font-size: 16px;
    vertical-align: top;
    line-height: 20px;
    margin: 0;
    margin-top: 20px;
  }
  #welcome .flex-container button {
    padding: 15px 40px 15px 40px;
    margin-top: 40px;
    cursor: pointer;
  }
}
@media screen and (max-width: 990px) {
  #welcome .flex-container .galaxy {
    display: none;
  }
  #welcome .flex-container .galaxy-img {
    display: block;
    width: 280px;
    height: 280px;
  }
  #welcome .flex-container span {
    font-size: 6px;
    color: #23a6f0;
  }
  #welcome .flex-container h1 {
    font-size: 32px;
    margin-top: 7px;
    width: 302px;
  }
  #welcome .flex-container p {
    font-size: 10px;
    vertical-align: top;
    line-height: 20px;
    margin: 0;
    margin-top: 20px;
  }
  #welcome .flex-container button {
    padding: 10px 30px 10px 30px;
    margin-top: 40px;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  #welcome .flex-container .galaxy-img {
    display: none;
    width: 330px;
    height: 330px;
    margin-top: 30px;
  }
  #welcome .flex-container span {
    font-size: 10px;
    color: #23a6f0;
  }
  #welcome .flex-container h1 {
    font-size: 35px;
    margin-top: 7px;
    width: 342px;
  }
  #welcome .flex-container p {
    font-size: 8px;
    vertical-align: top;
    line-height: 20px;
    margin: 0;
    margin-top: 20px;
  }
  #welcome .flex-container button {
    padding: 10px 30px 10px 30px;
    margin-top: 40px;
    cursor: pointer;
    display: block;
  }
  #welcome .flex-container .getbtn {
    width: 163px;
    height: 38px;
    font-size: 11px;
  }
  #welcome .flex-container .learnbtn {
    width: 163px;
  }
}
@media screen and (max-width: 400px) {
  #welcome .flex-container h1 {
    font-size: 24px;
    margin-top: 7px;
    width: 242px;
  }
}
#packages .container {
  margin-bottom: 40px;
}
#packages .container .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#packages .container .row .summary {
  color: rgb(255, 255, 255);
}
#packages .container .row .summary span {
  font-size: 16px;
  color: #23a6f0;
  width: 300px;
  font-weight: 800;
}
#packages .container .row .summary h2 {
  font-size: 52px;
  margin-top: 7px;
}
#packages .container .row .summary p {
  font-size: 17px;
  vertical-align: top;
  padding-top: 10px;
  margin-top: 20px;
}
#packages .cards-row {
  display: flex;
  gap: 35px;
  margin-top: 45px;
  justify-content: center;
}
#packages .cards-row .card {
  background-color: white;
  width: 230px;
  height: 292px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}
#packages .cards-row .card .icon-container {
  background-color: #e74040;
  border-radius: 10px;
  width: 70px;
  height: 76px;
  position: relative;
}
#packages .cards-row .card .icon-container i {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}
#packages .cards-row .card h5 {
  font-size: 16px;
  margin-top: 22px;
}
#packages .cards-row .card .line {
  width: 50px;
  height: 2px;
  background-color: #e74040;
  margin-top: 13px;
}
#packages .cards-row .card p {
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 0.2px;
}
#packages .cards-row .bottom {
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  #packages .container {
    margin-bottom: 40px;
  }
  #packages .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #packages .container .row .summary {
    color: rgb(255, 255, 255);
  }
  #packages .container .row .summary span {
    font-size: 12px;
    color: #23a6f0;
    width: 300px;
  }
  #packages .container .row .summary h2 {
    font-size: 42px;
    margin-top: 7px;
  }
  #packages .container .row .summary p {
    font-size: 10px;
    vertical-align: top;
    padding-top: 10px;
    margin-top: 20px;
  }
  #packages .cards-row {
    display: flex;
    gap: 35px;
    margin-top: 45px;
    justify-content: center;
  }
  #packages .cards-row .card {
    background-color: white;
    width: 190px;
    height: 242px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px 40px;
  }
  #packages .cards-row .card .icon-container {
    background-color: #e74040;
    border-radius: 10px;
    width: 60px;
    height: 66px;
    position: relative;
  }
  #packages .cards-row .card .icon-container i {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  #packages .cards-row .card h5 {
    font-size: 12px;
    margin-top: 22px;
  }
  #packages .cards-row .card .line {
    width: 40px;
    height: 2px;
    background-color: #e74040;
    margin-top: 13px;
  }
  #packages .cards-row .card p {
    line-height: 13px;
    margin-top: 10px;
    font-size: 12px;
  }
  #packages .cards-row .bottom {
    margin-top: 60px;
  }
}
@media screen and (max-width: 950px) {
  #packages .container {
    margin-bottom: 40px;
  }
  #packages .container .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 593px;
  }
  #packages .container .row .summary {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 500px;
  }
  #packages .container .row .summary span {
    font-size: 9px;
    color: #23a6f0;
    width: 280px;
  }
  #packages .container .row .summary h2 {
    font-size: 24px;
    margin-top: 7px;
  }
  #packages .container .row .summary p {
    font-size: 10px;
    vertical-align: top;
    margin-top: 20px;
    max-width: 350px;
  }
  #packages .cards-row {
    display: flex;
    gap: 35px;
    margin-top: 45px;
    justify-content: center;
    max-width: 593px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
  }
  #packages .cards-row .card {
    background-color: white;
    max-width: 190px;
    height: 242px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px 40px;
  }
  #packages .cards-row .card .icon-container {
    background-color: #e74040;
    border-radius: 10px;
    width: 60px;
    height: 66px;
    position: relative;
  }
  #packages .cards-row .card .icon-container i {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  #packages .cards-row .card h5 {
    font-size: 12px;
    margin-top: 22px;
  }
  #packages .cards-row .card .line {
    width: 40px;
    height: 2px;
    background-color: #e74040;
    margin-top: 13px;
  }
  #packages .cards-row .card p {
    line-height: 13px;
    margin-top: 10px;
    font-size: 12px;
  }
  #packages .cards-row .bottom {
    margin-top: 50px;
  }
}
#online_education {
  text-align: center;
}
#online_education span {
  font-size: 16px;
  color: #23a6f0;
  font-weight: 800;
}
#online_education .summary {
  color: rgb(255, 255, 255);
  min-height: 150px;
}
#online_education .summary h2 {
  font-size: 52px;
  margin-top: 7px;
}
#online_education .summary p {
  font-size: 17px;
  vertical-align: top;
  letter-spacing: 1px;
  width: 469px;
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 20px;
}
#online_education .cards-row {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
#online_education .cards-row .card {
  position: relative;
  background-color: white;
  width: 238px;
  height: 658px;
}
#online_education .cards-row .card .sale {
  color: rgb(255, 255, 255);
  width: 62px;
  height: 44px;
  background-color: #e74040;
  position: absolute;
  padding: 15px;
  top: 20px;
}
#online_education .cards-row .card img {
  width: 238px;
}
#online_education .cards-row .card .main {
  padding: 25px 25px 35px;
}
#online_education .cards-row .card .main h3 {
  margin-top: 20px;
}
#online_education .cards-row .card .main p {
  font-size: 15px;
  color: gray;
  margin: 10px 0px;
  letter-spacing: 0.2px;
}
#online_education .cards-row .card .main .sales {
  display: flex;
  color: gray;
}
#online_education .cards-row .card .main .sales p {
  margin: 0;
}
#online_education .cards-row .card .main .price {
  display: flex;
}
#online_education .cards-row .card .main .price p {
  font-weight: bold;
  margin: 7px;
}
#online_education .cards-row .card .main .price p:nth-child(2) {
  color: #40bb15;
}
#online_education .cards-row .card .main .info {
  margin-top: 10px;
  font-size: 12px;
}
#online_education .cards-row .card .main .info i {
  color: #23a6f0;
}
#online_education .cards-row .card .main .info .orange {
  color: orange;
}
#online_education .cards-row .card .main button {
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  background-color: transparent;
  color: #23a6f0;
  border: 1px solid #23a6f0;
  cursor: pointer;
  border-radius: 35px;
}
#online_education .cards-row .card .main button:hover {
  background-color: #23a6f0;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
  #online_education {
    text-align: center;
  }
  #online_education span {
    font-size: 16px;
    color: #23a6f0;
  }
  #online_education .summary {
    color: rgb(255, 255, 255);
  }
  #online_education .summary h2 {
    font-size: 52px;
    margin-top: 7px;
  }
  #online_education .summary p {
    font-size: 14px;
    vertical-align: top;
    width: 469px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #online_education .cards-row {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
  }
  #online_education .cards-row .card {
    position: relative;
    background-color: white;
    width: 450px;
    height: 858px;
    margin: 0 auto;
  }
  #online_education .cards-row .card .sale {
    color: rgb(255, 255, 255);
    width: 62px;
    height: 44px;
    background-color: #e74040;
    position: absolute;
    padding: 15px;
    top: 20px;
  }
  #online_education .cards-row .card img {
    width: 450px;
  }
  #online_education .cards-row .card .main {
    padding: 25px 25px 35px;
  }
  #online_education .cards-row .card .main h3 {
    margin-top: 20px;
  }
  #online_education .cards-row .card .main p {
    font-size: 15px;
    color: gray;
    margin: 10px 0px;
  }
  #online_education .cards-row .card .main .sales {
    display: flex;
    color: gray;
  }
  #online_education .cards-row .card .main .sales p {
    margin: 0;
  }
  #online_education .cards-row .card .main .price {
    display: flex;
  }
  #online_education .cards-row .card .main .price p {
    font-weight: bold;
    margin: 7px;
  }
  #online_education .cards-row .card .main .price p:nth-child(2) {
    color: #40bb15;
  }
  #online_education .cards-row .card .main .info {
    margin-top: 10px;
    font-size: 12px;
  }
  #online_education .cards-row .card .main .info i {
    color: #23a6f0;
  }
  #online_education .cards-row .card .main .info .orange {
    color: orange;
  }
  #online_education .cards-row .card .main button {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: transparent;
    color: #23a6f0;
    border: 1px solid #23a6f0;
    cursor: pointer;
    border-radius: 35px;
  }
  #online_education .cards-row .card .main button:hover {
    background-color: #23a6f0;
    color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 950px) {
  #online_education {
    text-align: center;
  }
  #online_education span {
    font-size: 9px;
    color: #23a6f0;
  }
  #online_education .summary {
    color: rgb(255, 255, 255);
  }
  #online_education .summary h2 {
    font-size: 24px;
    margin-top: 7px;
  }
  #online_education .summary p {
    font-size: 10px;
    vertical-align: top;
    width: 265px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #online_education .cards-row {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
  }
  #online_education .cards-row .card {
    position: relative;
    background-color: white;
    max-width: 245px;
    height: 650px;
    margin: 0 auto;
  }
  #online_education .cards-row .card .sale {
    color: rgb(255, 255, 255);
    width: 62px;
    height: 44px;
    background-color: #e74040;
    position: absolute;
    padding: 15px;
    top: 20px;
  }
  #online_education .cards-row .card img {
    max-width: 245px;
  }
  #online_education .cards-row .card .main {
    padding: 25px 25px 35px;
  }
  #online_education .cards-row .card .main h3 {
    margin-top: 20px;
  }
  #online_education .cards-row .card .main p {
    font-size: 15px;
    color: gray;
    margin: 10px 0px;
  }
  #online_education .cards-row .card .main .sales {
    display: flex;
    color: gray;
  }
  #online_education .cards-row .card .main .sales p {
    margin: 0;
  }
  #online_education .cards-row .card .main .price {
    display: flex;
  }
  #online_education .cards-row .card .main .price p {
    font-weight: bold;
    margin: 7px;
  }
  #online_education .cards-row .card .main .price p:nth-child(2) {
    color: #40bb15;
  }
  #online_education .cards-row .card .main .info {
    margin-top: 10px;
    font-size: 12px;
  }
  #online_education .cards-row .card .main .info i {
    color: #23a6f0;
  }
  #online_education .cards-row .card .main .info .orange {
    color: orange;
  }
  #online_education .cards-row .card .main button {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: transparent;
    color: #23a6f0;
    border: 1px solid #23a6f0;
    cursor: pointer;
    border-radius: 35px;
  }
  #online_education .cards-row .card .main button:hover {
    background-color: #23a6f0;
    color: rgb(255, 255, 255);
  }
}
#watch .summary {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
#watch .summary .line {
  width: 50px;
  height: 6px;
  background-color: #e74040;
  margin-top: 13px;
}
#watch .summary h2 {
  font-size: 52px;
  margin-top: 15px;
}
#watch .summary p {
  font-size: 14px;
  vertical-align: top;
  margin-top: 15px;
  max-width: 469px;
  height: 40px;
  margin-top: 20px;
}
#watch .summary a {
  color: #23a6f0;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  #watch .section-image img {
    max-width: 300px;
    height: 290px;
  }
  #watch .summary {
    color: rgb(255, 255, 255);
  }
  #watch .summary .line {
    width: 50px;
    height: 6px;
    background-color: #e74040;
    margin-top: 13px;
  }
  #watch .summary h2 {
    font-size: 42px;
    margin-top: 15px;
  }
  #watch .summary p {
    font-size: 10px;
    vertical-align: top;
    margin-top: 15px;
    max-width: 469px;
    height: 40px;
  }
  #watch .summary a {
    color: #23a6f0;
    margin-top: 30px;
    font-size: 10px;
  }
}
@media screen and (max-width: 790px) {
  #watch .section-image {
    display: none;
  }
  #watch .summary {
    color: rgb(255, 255, 255);
  }
  #watch .summary .line {
    width: 50px;
    height: 6px;
    background-color: #e74040;
    margin-top: 13px;
  }
  #watch .summary h2 {
    font-size: 35px;
    margin-top: 15px;
  }
  #watch .summary p {
    font-size: 13px;
    vertical-align: top;
    margin-top: 15px;
    max-width: 469px;
    height: 40px;
  }
  #watch .summary a {
    color: #23a6f0;
    margin-top: 30px;
    font-size: 13px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  #watch .section-image {
    display: none;
  }
  #watch .summary {
    color: rgb(255, 255, 255);
    max-width: 380px;
  }
  #watch .summary .line {
    width: 50px;
    height: 6px;
    background-color: #e74040;
    margin-top: 13px;
  }
  #watch .summary h2 {
    font-size: 30px;
    margin-top: 15px;
  }
  #watch .summary p {
    font-size: 11px;
    vertical-align: top;
    margin-top: 15px;
    max-width: 469px;
    height: 40px;
  }
  #watch .summary a {
    color: #23a6f0;
    margin-top: 30px;
    font-size: 11px;
    margin-top: 30px;
  }
}
#client .row {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 70px;
  height: 170px;
}
#client .row span {
  font-size: 16px;
  color: #23a6f0;
  margin-top: 25px;
  font-weight: 800;
}
#client .row h2 {
  font-size: 52px;
  margin-top: 37px;
}
#client .row p {
  font-size: 14px;
  vertical-align: top;
  width: 469px;
  margin: 0 auto;
  margin-top: 20px;
}
#client .row-card {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
}
#client .row-card .card {
  width: 501px;
  height: 378px;
  padding: 25px;
  background-color: white;
  margin: 10px;
  text-align: center;
}
#client .row-card .card img {
  border-radius: 50%;
}
#client .row-card .card h5 {
  margin-top: 10px;
  font-size: 15px;
}
#client .row-card .card p {
  color: gray;
  font-size: 13px;
}
#client .row-card .card .stars {
  margin-top: 20px;
}
#client .row-card .card .comment {
  color: black;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  #client .row {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 70px;
  }
  #client .row h5 {
    font-size: 13px;
    color: #23a6f0;
    margin-top: 25px;
  }
  #client .row h2 {
    font-size: 40px;
    margin-top: 37px;
  }
  #client .row p {
    font-size: 12px;
    vertical-align: top;
    max-width: 469px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #client .row-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 593px;
    margin-top: 50px;
    margin: 0 auto;
  }
  #client .row-card .card {
    max-width: 501px;
    height: 378px;
    padding: 25px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  #client .row-card .card img {
    border-radius: 50%;
  }
  #client .row-card .card h5 {
    margin-top: 10px;
    font-size: 15px;
  }
  #client .row-card .card p {
    color: gray;
    font-size: 13px;
  }
  #client .row-card .card .stars {
    margin-top: 20px;
  }
  #client .row-card .card .comment {
    color: black;
  }
}
@media screen and (max-width: 900px) {
  #client .row {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 70px;
  }
  #client .row span {
    font-size: 10px;
    color: #23a6f0;
    margin-top: 25px;
  }
  #client .row h2 {
    font-size: 26px;
    margin-top: 37px;
  }
  #client .row p {
    font-size: 10px;
    vertical-align: top;
    line-height: 16px;
    max-width: 469px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #client .row-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 419px;
    margin-top: 50px;
    margin: 0 auto;
  }
  #client .row-card .card {
    max-width: 401px;
    height: 278px;
    padding: 25px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  #client .row-card .card img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  #client .row-card .card h5 {
    margin-top: 10px;
    font-size: 11px;
  }
  #client .row-card .card p {
    color: gray;
    font-size: 11px;
  }
  #client .row-card .card .stars {
    margin-top: 20px;
  }
  #client .row-card .card .stars img {
    width: 17px;
    height: 17px;
  }
  #client .row-card .card .comment {
    color: black;
  }
}
@media screen and (max-width: 600px) {
  #client .row {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 70px;
  }
  #client .row span {
    font-size: 9px;
    color: #23a6f0;
    margin-top: 25px;
  }
  #client .row h2 {
    font-size: 20px;
    margin-top: 37px;
  }
  #client .row p {
    font-size: 9px;
    vertical-align: top;
    max-width: 280px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #client .row-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 274px;
    margin-top: 50px;
    margin: 0 auto;
  }
  #client .row-card .card {
    max-width: 255px;
    height: 180px;
    padding: 25px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  #client .row-card .card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  #client .row-card .card h5 {
    margin-top: 10px;
    font-size: 8px;
  }
  #client .row-card .card p {
    color: gray;
    font-size: 7px;
  }
  #client .row-card .card .stars {
    margin-top: 15px;
  }
  #client .row-card .card .stars img {
    width: 10px;
    height: 10px;
  }
  #client .row-card .card .comment {
    color: black;
  }
}
#join_us .row {
  margin-top: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#join_us .row span {
  font-size: 16px;
  color: #23a6f0;
  font-weight: 800;
}
#join_us .row h2 {
  font-size: 52px;
  margin-top: 7px;
}
#join_us .row p {
  font-size: 14px;
  vertical-align: top;
  max-width: 469px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}
#join_us input {
  width: 600px;
  height: 60px;
  padding-left: 30px;
  border-radius: 35px;
}
#join_us .form-row {
  margin-top: 30px;
}
#join_us .form-row form {
  width: 650px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
}
#join_us .form-row form .input-icon {
  margin-bottom: 20px;
  position: relative;
}
#join_us .form-row form .input-icon i {
  position: absolute;
  left: 35px;
  font-size: 20px;
  top: 20px;
  color: #252B42;
}
#join_us .form-row form button {
  padding: 15px 40px 15px 40px;
  margin-top: 30px;
  background-color: #23a6f0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0;
  border-radius: 35px;
  width: 600px;
}
#join_us .form-row form button:hover {
  background-color: transparent;
  border: 1px solid #23a6f0;
  color: #23a6f0;
}

@media screen and (max-width: 1200px) {
  #join_us .row {
    margin-top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  #join_us .row span {
    font-size: 12px;
    color: #23a6f0;
  }
  #join_us .row h2 {
    font-size: 42px;
    margin-top: 7px;
  }
  #join_us .row p {
    font-size: 12px;
    vertical-align: top;
    max-width: 469px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #join_us input {
    width: 500px;
    height: 50px;
    padding-left: 30px;
    border-radius: 35px;
  }
  #join_us .form-row {
    margin-top: 30px;
  }
  #join_us .form-row form {
    margin: 0 auto;
    width: 550px;
    height: 400px;
  }
  #join_us .form-row form .input-icon {
    margin-bottom: 20px;
    position: relative;
  }
  #join_us .form-row form .input-icon i {
    position: absolute;
    left: 35px;
    font-size: 20px;
    top: 15px;
    color: #252B42;
  }
  #join_us .form-row form button {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: #23a6f0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    border-radius: 35px;
    width: 500px;
  }
  #join_us .form-row form button:hover {
    background-color: transparent;
    border: 1px solid #23a6f0;
    color: #23a6f0;
  }
}
@media screen and (min-width: 700px) and (max-width: 850px) {
  #join_us .row {
    margin-top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  #join_us .row span {
    font-size: 11px;
    color: #23a6f0;
  }
  #join_us .row h2 {
    font-size: 35px;
    margin-top: 7px;
  }
  #join_us .row p {
    font-size: 10px;
    vertical-align: top;
    max-width: 469px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #join_us input {
    width: 400px;
    height: 45px;
    padding-left: 30px;
    border-radius: 35px;
  }
  #join_us .form-row {
    margin-top: 30px;
  }
  #join_us .form-row form {
    margin: 0 auto;
    max-width: 485px;
    height: 400px;
  }
  #join_us .form-row form .input-icon {
    margin-bottom: 20px;
    position: relative;
  }
  #join_us .form-row form .input-icon i {
    position: absolute;
    left: 55px;
    font-size: 20px;
    top: 12px;
    color: #252B42;
  }
  #join_us .form-row form button {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: #23a6f0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    border-radius: 35px;
    width: 400px;
  }
  #join_us .form-row form button:hover {
    background-color: transparent;
    border: 1px solid #23a6f0;
    color: #23a6f0;
  }
}
@media screen and (max-width: 700px) {
  #join_us .row {
    margin-top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  #join_us .row span {
    font-size: 9px;
    color: #23a6f0;
  }
  #join_us .row h2 {
    font-size: 30px;
    margin-top: 7px;
  }
  #join_us .row p {
    font-size: 9px;
    vertical-align: top;
    line-height: 24px;
    max-width: 379px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #join_us input {
    width: 280px;
    height: 45px;
    padding-left: 30px;
    border-radius: 35px;
  }
  #join_us .form-row {
    margin-top: 30px;
  }
  #join_us .form-row form {
    margin: 0 auto;
    max-width: 280px;
    height: 400px;
  }
  #join_us .form-row form .input-icon {
    margin-bottom: 20px;
    position: relative;
  }
  #join_us .form-row form .input-icon i {
    position: absolute;
    left: 10px;
    font-size: 15px;
    top: 20px;
    color: #252B42;
  }
  #join_us .form-row form button {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: #23a6f0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    border-radius: 35px;
    width: 280px;
  }
  #join_us .form-row form button:hover {
    background-color: transparent;
    border: 1px solid #23a6f0;
    color: #23a6f0;
  }
}
footer {
  background-color: white;
}
footer .flex-container {
  width: 100%;
}
footer .flex-container i {
  color: #23a6f0;
}
footer .flex-container a {
  color: #475569;
  display: block;
  margin-top: 3px;
}
footer .flex-container a:hover {
  color: #23a6f0;
}
footer .flex-container h3 {
  margin-bottom: 10px;
}
footer .flex-container .social-media {
  display: flex;
  margin: 10px;
}
footer .flex-container .social-media i {
  margin: 0px 10px;
}

@media screen and (max-width: 930px) {
  footer {
    background-color: white;
  }
  footer .flex-container {
    width: 100%;
  }
  footer .flex-container i {
    color: #23a6f0;
  }
  footer .flex-container a {
    color: #475569;
    display: block;
    margin-top: 3px;
  }
  footer .flex-container a:hover {
    color: #23a6f0;
  }
  footer .flex-container a, footer .flex-container p {
    font-size: 10px;
  }
  footer .flex-container h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  footer .flex-container .social-media {
    display: flex;
    margin: 10px;
  }
  footer .flex-container .social-media i {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    background-color: white;
  }
  footer .flex-container {
    width: 100%;
    padding: 80px 70px;
    flex-direction: column;
    align-items: baseline;
  }
  footer .flex-container div {
    margin-top: 25px;
  }
  footer .flex-container i {
    color: #23a6f0;
  }
  footer .flex-container a {
    color: #475569;
    display: block;
    margin-top: 3px;
  }
  footer .flex-container a:hover {
    color: #23a6f0;
  }
  footer .flex-container a, footer .flex-container p {
    font-size: 15px;
  }
  footer .flex-container h3 {
    margin-bottom: 10px;
    font-size: 21px;
  }
  footer .flex-container .social-media {
    display: flex;
    margin: 10px;
  }
  footer .flex-container .social-media i {
    margin: 0px 10px;
  }
}/*# sourceMappingURL=main.css.map */