* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
body {
  background-color: $background-color;
}
header {
  position: fixed;
  z-index: 1000;
  background-color: $background-color;
  height: 120px;
  width: 100%;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 15px;

      li {
        margin-left: 25px;
        font-weight: 600;

        a:hover {
          color: $main-blue;
        }
      }
    }
    .sign_in_up {
      margin-left: 70px;
      padding: 0px 10px;
      a:hover {
        color: $main-blue;
      }
      button {
        padding: 15px 25px 15px 25px;
        background-color: $main-blue;
        border: 0;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          color: $main-blue;
          background-color: white;
        }
      }
    }

    .hamburger {
      display: none;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-item {
      margin-left: 5rem;
    }
    .nav-link {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color_1;
      &:hover {
        color: $color_2;
      }
    }
    .nav-logo {
      font-size: 2.1rem;
      font-weight: 500;
      color: $color_2;
    }
  }
}

@media screen and(max-width: 895px) {
  header {
    nav {
      justify-content: space-evenly;
      h1 {
        font-size: 20px;
      }
      ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $background-color;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        &.active {
          left: 0;
        }
        li {
          margin: 2.5rem 0;
        }
      }
      .hamburger {
        display: block;
        cursor: pointer;
        &.active {
          .bar {
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
      .sign_in_up {
        font-size: 13px;
        margin: 0;
        padding: 0;
        button {
          padding: 8px 15px 8px 15px;
        }
      }
    }
  }
}

#welcome {
  padding-top: 50px;
  .flex-container {
    color: $text-color;
    span {
      font-size: 16px;
      color: $main-blue;
      font-weight: 800
    }
    h1 {
      font-size: 58px;
      margin-top: 7px;
      width: 542px;
    }
    p {
      font-size: 20px;
      vertical-align: top;
      line-height: 20px;
      margin: 0;
      margin-top: 20px;

    }
    button {
      padding: 15px 40px 15px 40px;
      margin-top: 40px;
      cursor: pointer;
    }
    .getbtn {
      background-color: $main-blue;
      color: $text-color;
      gap: 10px;
      border: 0;
      &:hover {
        background-color: transparent;
        border: 1px solid $main-blue;
        color: $main-blue;
      }
    }
    .learnbtn {
      border: 1px solid $main-blue;
      background: transparent;
      color: $main-blue;
    }
    .galaxy {
      margin-top: 50px;

      .firstorbit {
        border: 2px solid #ffc7d4;
        border-radius: 50%;
        width: 630px;
        height: 630px;
        position: relative;
        .person-first {
          position: absolute;
          left: 450px;
          top: 20px;
          width: 82px;
          height: 82px;
        }
        .pink-planet {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 91px;
          top: 58px;
        }
        .person-second {
          position: absolute;
          width: 82px;
          height: 82px;
          left: 143px;
          top: 556px;
        }
        .secondorbit {
          border: 2px solid #ffc7d4;
          border-radius: 50%;
          width: 483px;
          height: 483px;
          position: absolute;
          top: 74px;
          left: 74px;
          .person-third {
            position: absolute;
            width: 82px;
            height: 82px;
            left: 19px;
            top: 315px;
          }
          .person-fourth {
            position: absolute;
            width: 82px;
            height: 82px;
            left: 464px;
            top: 354px;
          }
          .thirdorbit {
            border: 2px solid #ffc7d4;
            border-radius: 50%;
            width: 311px;
            height: 311px;
            position: absolute;
            top: 87px;
            left: 87px;
            .person-fifth {
              position: absolute;
              width: 82px;
              height: 82px;
              left: 61px;
              top: -42px;
            }
            .pink_first {
              position: absolute;
              width: 23px;
              height: 23px;
              left: 278px;
              top: 62px;
            }
            .pink_second {
              position: absolute;
              width: 20px;
              height: 20px;
              left: 9.7px;
              top: 226px;
            }
            .lastorbit {
              border: 2px solid #ffc7d4;
              border-radius: 50%;
              width: 180px;
              height: 180px;
              position: absolute;
              top: 62.6px;
              left: 62.6px;
              .pink {
                position: absolute;
                left: 150px;
                top: 135px;
              }
              .person-sixth {
                position: absolute;
                width: 121px;
                height: 121px;
                left: 27px;
                top: 31px;
              }
            }
          }
        }
      }
    }
    .galaxy-img {
      display: none;
    }
  }
}

@media screen and(max-width: 1360px) {
  #welcome {
    .flex-container {
      .galaxy {
        display: none;
      }
      .galaxy-img {
        display: block;
        width: 430px;
        height: 430px;
      }
      span {
        font-size: 12px;
        color: $main-blue;
      }
      h1 {
        font-size: 48px;
        margin-top: 7px;
        width: 442px;
      }
      p {
        font-size: 16px;
        vertical-align: top;
        line-height: 20px;
        margin: 0;
        margin-top: 20px;

      }
      button {
        padding: 15px 40px 15px 40px;
        margin-top: 40px;
        cursor: pointer;
      }
    }
  }
}
@media screen and(max-width: 990px) {
  #welcome {
    .flex-container {
      .galaxy {
        display: none;
      }
      .galaxy-img {
        display: block;
        width: 280px;
        height: 280px;
      }
      span {
        font-size: 6px;
        color: $main-blue;
      }
      h1 {
        font-size: 32px;
        margin-top: 7px;
        width: 302px;
      }
      p {
        font-size: 10px;
        vertical-align: top;
        line-height: 20px;
        margin: 0;
        margin-top: 20px;

      }
      button {
        padding: 10px 30px 10px 30px;
        margin-top: 40px;
        cursor: pointer;
      }
    }
  }
}
@media screen and(max-width: 600px) {
  #welcome {
    .flex-container {
      .galaxy-img {
        display: none;
        width: 330px;
        height: 330px;
        margin-top: 30px;
      }
      span {
        font-size: 10px;
        color: $main-blue;
      }
      h1 {
        font-size: 35px;
        margin-top: 7px;
        width: 342px;
      }
      p {
        font-size: 8px;
        vertical-align: top;
        line-height: 20px;
        margin: 0;
        margin-top: 20px;

      }
      button {
        padding: 10px 30px 10px 30px;
        margin-top: 40px;
        cursor: pointer;
        display: block;
      }
      .getbtn{
        width: 163px;
        height: 38px;
        font-size: 11px;
      }
      .learnbtn{
        width: 163px;
      }
    }
  }
}
@media screen and(max-width: 400px) {
  #welcome {
    .flex-container {
      h1 {
        font-size: 24px;
        margin-top: 7px;
        width: 242px;
      }
    }
  }
}

#packages {
  .container {
    margin-bottom: 40px;
    .row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .summary {
        color: $text-color;
        
        span {
          font-size: 16px;
          color: $main-blue;
          width: 300px;
          font-weight: 800;
        }

        h2 {
          font-size: 52px;
          margin-top: 7px;
        }

        p {
          font-size: 17px;
          vertical-align: top;
          padding-top: 10px;
          margin-top: 20px;
        }
      }
    }
  }

  .cards-row {
    display: flex;
    gap: 35px;
    margin-top: 45px;
    justify-content: center;
    .card {
      background-color: white;
      width: 230px;
      height: 292px;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      padding: 35px 40px;
      .icon-container {
        background-color: $line-color;
        border-radius: 10px;
        width: 70px;
        height: 76px;
        position: relative;
        i {
          color: white;
          font-size: 30px;
          position: absolute;
          left: 20px;
          top: 20px;
        }
      }
      h5 {
        font-size: 16px;
        margin-top: 22px;
      }
      .line {
        width: 50px;
        height: 2px;
        background-color: $line-color;
        margin-top: 13px;
      }
      p {
        line-height: 20px;
        margin-top: 20px;
        letter-spacing: 0.2px;
      }
    }
    .bottom {
      margin-top: 60px;
    }
  }
}

@media screen and(max-width: 1200px) {
  #packages {
    .container {
      margin-bottom: 40px;
      .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        .summary {
          color: $text-color;
          span {
            font-size: 12px;
            color: $main-blue;
            width: 300px;
          }

          h2 {
            font-size: 42px;
            margin-top: 7px;
          }

          p {
            font-size: 10px;
            vertical-align: top;
            padding-top: 10px;
            margin-top: 20px;

          }
        }
      }
    }

    .cards-row {
      display: flex;
      gap: 35px;
      margin-top: 45px;
      justify-content: center;
      .card {
        background-color: white;
        width: 190px;
        height: 242px;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        padding: 35px 40px;
        .icon-container {
          background-color: $line-color;
          border-radius: 10px;
          width: 60px;
          height: 66px;
          position: relative;
          i {
            color: white;
            font-size: 25px;
            position: absolute;
            left: 15px;
            top: 20px;
          }
        }
        h5 {
          font-size: 12px;
          margin-top: 22px;
        }
        .line {
          width: 40px;
          height: 2px;
          background-color: $line-color;
          margin-top: 13px;
        }
        p {
          line-height: 13px;
          margin-top: 10px;
          font-size: 12px;
        }
      }
      .bottom {
        margin-top: 60px;
      }
    }
  }
}
@media screen and(max-width: 950px) {
  #packages {
    .container {
      margin-bottom: 40px;
      .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 593px;

        .summary {
          color: $text-color;
          margin: 0 auto;
          max-width: 500px;
          span {
            font-size: 9px;
            color: $main-blue;
            width: 280px;
          }

          h2 {
            font-size: 24px;
            margin-top: 7px;
          }

          p {
            font-size: 10px;
            vertical-align: top;
            margin-top: 20px;
            max-width: 350px;
          }
        }
      }
    }

    .cards-row {
      display: flex;
      gap: 35px;
      margin-top: 45px;
      justify-content: center;
      max-width: 593px;
      flex-wrap: wrap;
      margin: 0 auto;
      padding-top: 30px;
      .card {
        background-color: white;
        max-width: 190px;
        height: 242px;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        padding: 35px 40px;
        .icon-container {
          background-color: $line-color;
          border-radius: 10px;
          width: 60px;
          height: 66px;
          position: relative;
          i {
            color: white;
            font-size: 25px;
            position: absolute;
            left: 15px;
            top: 20px;
          }
        }
        h5 {
          font-size: 12px;
          margin-top: 22px;
        }
        .line {
          width: 40px;
          height: 2px;
          background-color: $line-color;
          margin-top: 13px;
        }
        p {
          line-height: 13px;
          margin-top: 10px;
          font-size: 12px;
        }
      }
      .bottom {
        margin-top: 50px;
      }
    }
  }
}

#online_education {
  text-align: center;
  span {
    font-size: 16px;
    color: $main-blue;
    font-weight: 800;
  }

  .summary {
    color: $text-color;
    min-height: 150px;
    h2 {
      font-size: 52px;
      margin-top: 7px;
    }
    p {
      font-size: 17px;
      vertical-align: top;
      letter-spacing: 1px;
      width: 469px;
      margin: 0 auto;
      padding-top: 10px;
      margin-top: 20px;
    }
  }
  .cards-row {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    
    .card {
      position: relative;
      background-color: white;
      width: 238px;
      height: 658px;
      .sale {
        color: $text-color;
        width: 62px;
        height: 44px;
        background-color: $line-color;
        position: absolute;
        padding: 15px;
        top: 20px;
      }
      img {
        width: 238px;
      }
  
      .main {
        padding: 25px 25px 35px;
        h3 {
          margin-top: 20px;
        }
        p {
          font-size: 15px;
          color: gray;
          margin: 10px 0px;
          letter-spacing: 0.2px;
        }
        .sales {
          display: flex;
          color: gray;
          p {
            margin: 0;
          }
        }
        .price {
          display: flex;
          p {
            font-weight: bold;
            margin: 7px;
          }
          p:nth-child(2) {
            color: #40bb15;
          }
        }
        .info {
          margin-top: 10px;
          font-size: 12px;
          i {
            color: $main-blue;
          }
          .orange {
            color: orange;
          }
        }
        button {
          padding: 15px 40px 15px 40px;
          margin-top: 30px;
          background-color: transparent;
          color: $main-blue;
          border: 1px solid $main-blue;
          cursor: pointer;
          border-radius: 35px;
          &:hover {
            background-color: $main-blue;
            color: $text-color;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  #online_education {
    text-align: center;
    span {
      font-size: 16px;
      color: $main-blue;
    }
  
    .summary {
      color: $text-color;
  
      h2 {
        font-size: 52px;
        margin-top: 7px;
      }
      p {
        font-size: 14px;
        vertical-align: top;
        width: 469px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    .cards-row {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 40px;
      gap: 30px;
      .card {
        position: relative;
        background-color: white;
        width: 450px;
        height: 858px;
        margin: 0 auto;
        .sale {
          color: $text-color;
          width: 62px;
          height: 44px;
          background-color: $line-color;
          position: absolute;
          padding: 15px;
          top: 20px;
        }
        img {
          width: 450px;
        }
    
        .main {
          padding: 25px 25px 35px;
          h3 {
            margin-top: 20px;
          }
          p {
            font-size: 15px;
            color: gray;
            margin: 10px 0px;
          }
          .sales {
            display: flex;
            color: gray;
            p {
              margin: 0;
            }
          }
          .price {
            display: flex;
            p {
              font-weight: bold;
              margin: 7px;
            }
            p:nth-child(2) {
              color: #40bb15;
            }
          }
          .info {
            margin-top: 10px;
            font-size: 12px;
            i {
              color: $main-blue;
            }
            .orange {
              color: orange;
            }
          }
          button {
            padding: 15px 40px 15px 40px;
            margin-top: 30px;
            background-color: transparent;
            color: $main-blue;
            border: 1px solid $main-blue;
            cursor: pointer;
            border-radius: 35px;
            &:hover {
              background-color: $main-blue;
              color: $text-color;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 950px) {
  #online_education {
    text-align: center;
    span {
      font-size: 9px;
      color: $main-blue;
    }
  
    .summary {
      color: $text-color;
  
      h2 {
        font-size: 24px;
        margin-top: 7px;
      }
      p {
        font-size: 10px;
        vertical-align: top;
        width: 265px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    .cards-row {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 40px;
      gap: 30px;
      .card {
        position: relative;
        background-color: white;
        max-width: 245px;
        height: 650px;
        margin: 0 auto;
        .sale {
          color: $text-color;
          width: 62px;
          height: 44px;
          background-color: $line-color;
          position: absolute;
          padding: 15px;
          top: 20px;
        }
        img {
          max-width: 245px;
        }
    
        .main {
          padding: 25px 25px 35px;
          h3 {
            margin-top: 20px;
          }
          p {
            font-size: 15px;
            color: gray;
            margin: 10px 0px;
          }
          .sales {
            display: flex;
            color: gray;
            p {
              margin: 0;
            }
          }
          .price {
            display: flex;
            p {
              font-weight: bold;
              margin: 7px;
            }
            p:nth-child(2) {
              color: #40bb15;
            }
          }
          .info {
            margin-top: 10px;
            font-size: 12px;
            i {
              color: $main-blue;
            }
            .orange {
              color: orange;
            }
          }
          button {
            padding: 15px 40px 15px 40px;
            margin-top: 30px;
            background-color: transparent;
            color: $main-blue;
            border: 1px solid $main-blue;
            cursor: pointer;
            border-radius: 35px;
            &:hover {
              background-color: $main-blue;
              color: $text-color;
            }
          }
        }
      }
    }
  }
}

#watch {
  .summary {
    color: $text-color;
    display: flex;
    flex-direction: column;
    .line {
      width: 50px;
      height: 6px;
      background-color: $line-color;
      margin-top: 13px;
    }
    h2 {
      font-size: 52px;
      margin-top: 15px;
    }
    p {
      font-size: 14px;
      vertical-align: top;
      margin-top: 15px;
      max-width: 469px;
      height: 40px;
      margin-top: 20px;

    }
    a {
      color: $main-blue;
      margin-top: 30px;

    }
  }
}

@media screen and(max-width: 1200px) {
  #watch {
    .section-image{
      img{
        max-width: 300px;
        height: 290px;
      }
    }
    .summary {
      color: $text-color;
      .line {
        width: 50px;
        height: 6px;
        background-color: $line-color;
        margin-top: 13px;
      }
      h2 {
        font-size: 42px;
        margin-top: 15px;
      }
      p {
        font-size: 10px;
        vertical-align: top;
        margin-top: 15px;
        max-width: 469px;
        height: 40px;
      }
      a {
        color: $main-blue;
        margin-top: 30px;
        font-size: 10px;

      }
    }
  }
}

@media screen and(max-width: 790px) {
  #watch {
    .section-image{
      display: none;
   
    }
    .summary {
      color: $text-color;
      .line {
        width: 50px;
        height: 6px;
        background-color: $line-color;
        margin-top: 13px;
      }
      h2 {
        font-size: 35px;
        margin-top: 15px;
      }
      p {
        font-size: 13px;
        vertical-align: top;
        margin-top: 15px;
        max-width: 469px;
        height: 40px;
      }
      a {
        color: $main-blue;
        margin-top: 30px;
        font-size: 13px;
        margin-top: 30px;

      }
    }
  }
}
@media screen and(max-width: 500px) {
  #watch {
    .section-image{
      display: none;
     
    }
    .summary {
      color: $text-color;
      max-width: 380px;
      .line {
        width: 50px;
        height: 6px;
        background-color: $line-color;
        margin-top: 13px;
      }
      h2 {
        font-size: 30px;
        margin-top: 15px;
      }
      p {
        font-size: 11px;
        vertical-align: top;
        margin-top: 15px;
        max-width: 469px;
        height: 40px;
      }
      a {
        color: $main-blue;
        margin-top: 30px;
        font-size: 11px;
        margin-top: 30px;

      }
    }
  }
}

#client {
  .row {
    text-align: center;
    color: $text-color;
    margin-top: 70px;
    height: 170px;
    span {
      font-size: 16px;
      color: $main-blue;
      margin-top: 25px;
      font-weight: 800;
    }
    h2 {
      font-size: 52px;
      margin-top: 37px;
    }
    p {
      font-size: 14px;
      vertical-align: top;
      width: 469px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  .row-card {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    // max-width: 593px;
    //   flex-wrap: wrap;
      margin: 0 auto;
    .card {
      width: 501px;
      height: 378px;
      padding: 25px;
      background-color: white;
      margin: 10px;
      text-align: center;
      img {
        border-radius: 50%;
      }
      h5 {
        margin-top: 10px;
        font-size: 15px;
      }
      p {
        color: gray;
        font-size: 13px;
      }
      .stars {
        margin-top: 20px;
      }
      .comment {
        color: black;
        margin-top: 10px;

      }
    }
  }
}

@media screen and(max-width: 1200px) {
  #client {
    .row {
      text-align: center;
      color: $text-color;
      margin-top: 70px;
      h5 {
        font-size: 13px;
        color: $main-blue;
        margin-top: 25px;
      }
      h2 {
        font-size: 40px;
        margin-top: 37px;
      }
      p {
        font-size: 12px;
        vertical-align: top;
        max-width: 469px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    .row-card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 593px;
      margin-top: 50px;
      margin: 0 auto;
      .card {
        max-width: 501px;
        height: 378px;
        padding: 25px;
        background-color: white;
        margin: 10px;
        text-align: center;
        img {
          border-radius: 50%;
        }
        h5 {
          margin-top: 10px;
          font-size: 15px;
        }
        p {
          color: gray;
          font-size: 13px;
        }
        .stars {
          margin-top: 20px;
        }
        .comment {
          color: black;
        }
      }
    }
  }
}
@media screen and(max-width: 900px) {
  #client {
    .row {
      text-align: center;
      color: $text-color;
      margin-top: 70px;
      span {
        font-size: 10px;
        color: $main-blue;
        margin-top: 25px;
      }
      h2 {
        font-size: 26px;
        margin-top: 37px;
      }
      p {
        font-size: 10px;
        vertical-align: top;
        line-height: 16px;
        max-width: 469px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    .row-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 419px;
      margin-top: 50px;
      margin: 0 auto;
      .card {
        max-width: 401px;
        height: 278px;
        padding: 25px;
        background-color: white;
        margin: 10px;
        text-align: center;
        img {
          border-radius: 50%;
          width: 90px;
          height: 90px;
        }
        h5 {
          margin-top: 10px;
          font-size: 11px;
        }
        p {
          color: gray;
          font-size: 11px;
        }
        .stars {
          margin-top: 20px;
          img{
            width: 17px;
            height: 17px;
          }
        }
        .comment {
          color: black;
        }
      }
    }
  }
}
@media screen and(max-width: 600px) {
  #client {
    .row {
      text-align: center;
      color: $text-color;
      margin-top: 70px;
      span {
        font-size: 9px;
        color: $main-blue;
        margin-top: 25px;
      }
      h2 {
        font-size: 20px;
        margin-top: 37px;
      }
      p {
        font-size: 9px;
        vertical-align: top;
        max-width: 280px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    .row-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 274px;
      margin-top: 50px;
      margin: 0 auto;
      .card {
        max-width: 255px;
        height: 180px;
        padding: 25px;
        background-color: white;
        margin: 10px;
        text-align: center;
        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
        h5 {
          margin-top: 10px;
          font-size: 8px;
        }
        p {
          color: gray;
          font-size: 7px;
        }
        .stars {
          margin-top: 15px;
          img{
            width: 10px;
            height: 10px;
          }
        }
        .comment {
          color: black;
        }
      }
    }
  }
}


#join_us {
  .row {
    margin-top: 40px;
    text-align: center;
    color: $text-color;
    span {
      font-size: 16px;
      color: $main-blue;
      font-weight: 800;
    }
    h2 {
      font-size: 52px;
      margin-top: 7px;
    }
    p {
      font-size: 14px;
      vertical-align: top;
      max-width: 469px;
      height: 40px;
      margin: 0 auto;
      margin-top: 20px;

    }
  }
  input {
    width: 600px;
    height: 60px;
    padding-left: 30px;
    border-radius: 35px;
  }
  .form-row {
    margin-top: 30px;
    form {
      width: 650px;
      height: 400px;
      text-align: center;
      margin: 0 auto;
      .input-icon {
        margin-bottom: 20px;
        position: relative;
        i {
          position: absolute;
          left: 35px;
          font-size: 20px;
          top: 20px;
          color: $background-color;
        }
      }
      button {
        padding: 15px 40px 15px 40px;
        margin-top: 30px;
        background-color: $main-blue;
        color: $text-color;
        cursor: pointer;
        border: 0;
        border-radius: 35px;
        width: 600px;
        &:hover {
          background-color: transparent;
          border: 1px solid $main-blue;
          color: $main-blue;
        }
      }
    }
  }
}

@media screen and(max-width: 1200px) {
  #join_us {
    .row {
      margin-top: 40px;
      text-align: center;
      color: $text-color;
      span {
        font-size: 12px;
        color: $main-blue;
      }
      h2 {
        font-size: 42px;
        margin-top: 7px;
      }
      p {
        font-size: 12px;
        vertical-align: top;
        max-width: 469px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    input {
      width: 500px;
      height: 50px;
      padding-left: 30px;
      border-radius: 35px;
    }
    .form-row {
      margin-top: 30px;
      form {
        margin: 0 auto;
        width: 550px;
        height: 400px;
        .input-icon {
          margin-bottom: 20px;
          position: relative;
          i {
            position: absolute;
            left: 35px;
            font-size: 20px;
            top: 15px;
            color: $background-color;
          }
        }
        button {
          padding: 15px 40px 15px 40px;
          margin-top: 30px;
          background-color: $main-blue;
          color: $text-color;
          cursor: pointer;
          border: 0;
          border-radius: 35px;
          width: 500px;
          &:hover {
            background-color: transparent;
            border: 1px solid $main-blue;
            color: $main-blue;
          }
        }
      }
    }
  }
}
@media screen and(min-width: 700px) and(max-width: 850px) {
  #join_us {
    .row {
      margin-top: 40px;
      text-align: center;
      color: $text-color;
      span {
        font-size: 11px;
        color: $main-blue;
      }
      h2 {
        font-size: 35px;
        margin-top: 7px;
      }
      p {
        font-size: 10px;
        vertical-align: top;
        max-width: 469px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    input {
      width: 400px;
      height: 45px;
      padding-left: 30px;
      border-radius: 35px;
    }
    .form-row {
      margin-top: 30px;
      form {
        margin: 0 auto;
        max-width: 485px;
        height: 400px;
        .input-icon {
          margin-bottom: 20px;
          position: relative;
          i {
            position: absolute;
            left: 55px;
            font-size: 20px;
            top: 12px;
            color: $background-color;
          }
        }
        button {
          padding: 15px 40px 15px 40px;
          margin-top: 30px;
          background-color: $main-blue;
          color: $text-color;
          cursor: pointer;
          border: 0;
          border-radius: 35px;
          width: 400px;
          &:hover {
            background-color: transparent;
            border: 1px solid $main-blue;
            color: $main-blue;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 700px) {
  #join_us {
    .row {
      margin-top: 40px;
      text-align: center;
      color: $text-color;
      span {
        font-size: 9px;
        color: $main-blue;
      }
      h2 {
        font-size: 30px;
        margin-top: 7px;
      }
      p {
        font-size: 9px;
        vertical-align: top;
        line-height: 24px;
        max-width: 379px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;

      }
    }
    input {
      width: 280px;
      height: 45px;
      padding-left: 30px;
      border-radius: 35px;
    }
    .form-row {
      margin-top: 30px;
      form {
        margin: 0 auto;
        max-width: 280px;
        height: 400px;
        .input-icon {
          margin-bottom: 20px;
          position: relative;
          i {
            position: absolute;
            left: 10px;
            font-size: 15px;
            top: 20px;
            color: $background-color;
          }
        }
        button {
          padding: 15px 40px 15px 40px;
          margin-top: 30px;
          background-color: $main-blue;
          color: $text-color;
          cursor: pointer;
          border: 0;
          border-radius: 35px;
          width: 280px;
          &:hover {
            background-color: transparent;
            border: 1px solid $main-blue;
            color: $main-blue;
          }
        }
      }
    }
  }
}

footer {
  background-color: white;
  .flex-container {
    width: 100%;
    i {
      color: $main-blue;
    }
    a {
      color: $color_1;
      display: block;
      margin-top: 3px;
      &:hover {
        color: $main-blue;
      }
    }
    h3 {
      margin-bottom: 10px;
    }
    .social-media {
      display: flex;
      margin: 10px;
      i {
        margin: 0px 10px;
      }
    }
  }
}

@media screen and(max-width: 930px) {
  footer {
    background-color: white;
    .flex-container {
      width: 100%;
      i {
        color: $main-blue;
      }
      a {
        color: $color_1;
        display: block;
        margin-top: 3px;
        &:hover {
          color: $main-blue;
        }
       
      }
      a,p{
        font-size: 10px;

        }
      h3 {
        margin-bottom: 10px;
        font-size: 16px;
      }
      .social-media {
        display: flex;
        margin: 10px;
        i {
          margin: 0px 10px;
        }
      }
    }
  }
}
@media screen and(max-width: 600px) {
  footer {
    background-color: white;
    .flex-container {
      width: 100%;
      padding: 80px 70px;
      flex-direction: column;
      align-items: baseline;
      div{
        margin-top: 25px;
      }
      i {
        color: $main-blue;
      }
      a {
        color: $color_1;
        display: block;
        margin-top: 3px;
        &:hover {
          color: $main-blue;
        }
       
      }
      a,p{
        font-size: 15px;

        }
      h3 {
        margin-bottom: 10px;
        font-size: 21px;
      }
      .social-media {
        display: flex;
        margin: 10px;
        i {
          margin: 0px 10px;
        }
      }
    }
  }
}
