a{
    color: white;
    text-decoration: none;
   
}
.flex-container{
    width: 1700px;
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    margin-bottom: 40px;
}
.container{
    width: 83%;
    margin: 0 auto;
    padding-top: 30px;
}
